* {
    margin: 0;
    font-family: Verdana, sans-serif;
}

body{
    background-color: #1F213A;
}

header {
    display: flex;/*pour rendre l' affichage flexible */
    justify-content: space-between; /* aligner le contenu*/
    align-items: center;/* aligner par rapport à l' axe secondaire à*/
    padding: 15px  30px 15px 20px;
    background-color: white;
}

header a {
    color:black;
    text-decoration:none ;
    margin-left: 30px;   
}

header a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: white;
}
.element-text {
    width:35% ;  
}
h1{
font-size:  3rem;
padding-bottom: 30px;
color: #A1AEE7;
font-family: 'Manrope', Verdana, sans-serif;
}
p{
    margin-bottom: 50px;
    text-align: justify;
}
.cta{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background: linear-gradient(#8e90b6, #adafed);
    border-radius: 50px;
}
.cta:hover{
    background: linear-gradient(#656681, #7779be);
}
em{
    color: #A1AEE7;
}
main img{
    margin-left:50px ;
}


    





